// colors
$color-primary: #328cc1;
$color-primary-light: #286da8;
$color-primary-dark: #438496;
$color-grey-dark: #777;
$color-grey-dark-2: #222;
$color-grey-dark-3: #333;
$color-white:#fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #57bc90;
$color-tertiary-dark: #015249;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;

// border-radius
$border-radius : 3px;